<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mes signets</title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script>
       // you need to install esup-restdb
       var restdbConf = { url: "https://restdb.univ-paris1.fr", auth: "cas" };
       var restdbPath = "/signets/bookmarks/$user";
       var publicUrlPrefix = 'https://signets-test.univ-paris1.fr/public-name/';
    </script>
    <script src="https://restdb-test.univ-paris1.fr/.files/restdb.js"></script>

    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  
  <body>
    <script> window.prolongation_ENT_args = { current: "signet", layout_url: "https://restdb-test.univ-paris1.fr/EsupUserApps/layout" } </script>
    <script src="https://ent-test.univ-paris1.fr/ProlongationENT/loader.js"></script>

    <div class="container-fluid BookmarksApp" :class="{loaded: loaded}">

      <div class="row">

        <div class="col-md-8 col-md-push-4 bookmarks">

          <h2>Ajouter un signet</h2>
          <form class="addBookmark">
            <input type="text" class="form-control" placeholder="http://..." v-model="link_to_add">

            <button type="submit" class="btn btn-primary" @click.prevent="addBookmark(link_to_add)" v-show="link_to_add">
              <span class="glyphicon glyphicon-plus"></span>
              Ajouter</button>
          </form>
                  
          <div v-if="bookmarks.length == 0" class="alert alert-info">
            Vous n'avez pas de signets.
          </div>
          <div v-else>
              <h2>Mes signets</h2>
          </div>
          <div class="bookmark-item" v-for="bookmark in bookmarksToDisplay">
            <div v-if="!bookmark.edit">
              <span class="title">
                <span style="float: right" class="glyphicon glyphicon-trash" @click="deleteBookmark(bookmark)"></span>
                <span style="float: right" class="glyphicon glyphicon-pencil" @click="editBookmark(bookmark)"></span>
                <a :href="bookmark.isPublic && bookmark.name ? publicUrlPrefix + bookmark.name : bookmark.link" target="_blank">{{bookmark.name || bookmark.link}}</a>
                <small v-if="bookmark.name">| {{bookmark.link}}</small>
              </span>

              <div class="description" v-if="bookmark.description">
                <span v-for="tag in bookmark.desc">
                  <span v-if="tag.tag">
                    <a @click.prevent="search = tag.name" class="label label-info myTag">{{tag.name}}</a>
                  </span>
                  <span v-else>
                    {{tag.name}}
                  </span>
                </span>
              </div>

            </div>
            <div v-else>
              <form class="editBookmark">

                <div class="form-group">
                  <label for="link">Lien</label>
                  <input name="link" type="text" class="form-control" placeholder="http://..." v-model="bookmark.link">
                </div>
                
                <div v-if="bookmark.backup">
                  <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" placeholder="Nom" v-model="bookmark.name">
                  </div>

                  <div class="form-group" v-show="bookmark.showPublicOption">
                    <label for="public">Lien court</label>
                    <div class="checkbox" v-if="bookmark.name">
                      <label>
                        <input name="public" type="checkbox" placeholder="Public" v-model="bookmark.isPublic">
                        créer un lien permanent public <span style="white-space: pre">{{publicUrlPrefix}}{{bookmark.name}}</span>
                      </label>
                    </div>
                    <div v-else>
                        La fonctionnalité « lien court » utilise le nom. Veuillez en fournir un.
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea-with-paste class="form-control" :toadd="bookmark.addtext" add-with-space placeholder="Décrit le site avec des #Tags..." v-model="bookmark.description">
                    </textarea-with-paste>
                  </div>

                  <div v-if="tags.length" style="margin-bottom: 2em">
                    Suggestion de mots clés :
                    <span class="label label-info myTag" v-for="tag in tags" @click="bookmark.addtext = [tag]">
                      {{tag}}
                    </span>
                  </div>                  
                </div>

                <button type="submit" class="btn btn-primary" @click.prevent="saveBookmark(bookmark)">
                  <span class="glyphicon glyphicon-pencil"></span>
                  Sauvegarder</button>
                <button type="submit" class="btn btn-default" @click.prevent="cancelBookmark(bookmark)">Annuler</button>

                <button type="submit" class="btn btn-default" @click.prevent="bookmark.showPublicOption = true" v-show="!bookmark.showPublicOption">Options</button>
                
              </form>
            </div>
          </div>

	  <div v-if="!allBookmarksDisplayed">
	    Affichage limit&eacute; &agrave; {{maxBookmarks}} r&eacute;sultats. Utilisez la recherche pour les autres signets.
	  </div>
          <div v-if="!haveDescriptions && bookmarks.length" class="alert alert-info" style="margin-top: 2em">
            Vous pouvez décrire vos signets (pour faciliter la recherche) en cliquant sur l'icone <span class="glyphicon glyphicon-pencil"></span>.
            <p>
              Pour supprimer un signet, cliquez sur l'icone <span class="glyphicon glyphicon-trash"></span>.
          </div>
         
        </div>

        <div class="col-md-4 col-md-pull-8 menu">

          <div>
            <h2>Filtrer les signets</h2>
            <form>
              <input autofocus type="text" class="form-control" placeholder="Des mots..." v-model="search">
            </form>
            <div class="listOfTags">
                <span v-for="tag in tags">
                    <a @click.prevent="search = tag" class="label label-info myTag" :class="{ selectedTag: search === tag }">{{tag}}</a>
                </span>
            </div>

          </div>

          <form class="importBookmarks">
            <label class="btn btn-primary">
              <span class="glyphicon glyphicon-import"></span>
              Importer des signets <input-text-file @change="toImport"></input-text-file>
            </label>
          </form>
        </div>
        
      </div>

      <a class="btn btn-primary export" @click="exportBookmarks" href="#" download="bookmarks.html" v-show="bookmarks.length > 1">
        <span class="glyphicon glyphicon-export"></span>
        Export</a>
      
    </div>
    <script> app.$mount(".BookmarksApp"); </script>
  </body>
</html>
